.stMainBlockContainer {
    max-width: 1280px;
}

.stTabs [data-baseweb="tab-list"] button [data-testid="stMarkdownContainer"] p {
    font-size: 24px;
}

/* Adjusts fonts for most widgets */
html {
    font-size: 18px;
}

/* Shadow effects on hover */
.stExpander:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.stButton:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Progress bar color customization */
.stProgress > div > div > div > div {
            background-color: #ff4b4b; 
        }
        
/* shadow effect for progress bar */
.stProgress > div > div > div {
            box-shadow: 0 4px 12px rgba(0,0,0,0.05);
        }